{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blog</h1>
    
    {% for post in posts %}
        <h2><a href="{{ path('show_post', { id : post.id })}}">{{ post.title }}</a></h2>
        <p>{{ post.lead }}</p>
    {% endfor %}
    
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
    
    
{% endblock %}

